/* 
    Created on : Apr 25, 2019, 10:42:47 PM
    Author     : Runi
*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    /*text-align: center;*/
    margin: 4px 4px 4px 4px;
}

.footer a
{
    
}


.footer #gitLinkText
{
    display: block;
    left:0px;
    visibility:hidden;
    transition: ease-in-out all .4s;
    
}

.footer:hover #gitLinkText {
    visibility:visible;
    transition: ease-in-out all 4s;
}