/* 
    Created on : Apr 25, 2019, 10:19:03 PM
    Author     : Runi
*/

#mainText
{
    text-align: center;
    display: block;
}

#mainOptions
{
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #007bff;
    border-radius: 5px;
    display: inline-block;
    padding: 50px 50px 50px 50px;
    margin-right: 185px;
    -webkit-box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px -11px rgba(0, 0, 0, 1);
}

#optionOffer
{

}

#mainOptions
{

}