/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-04-2019, 14:50:58
    Author     : Camilla
*/

.text-error-color{
    color: rgb(242, 116, 116);
}

.text-error-size{
    font-size: 13px;
}

.swal-button--confirm {
    padding: 7px 19px;
    border-radius: 4px;
    background-color: #007bff;
    font-size: 12px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--confirm:focus {
    box-shadow: none;
}

.form-control.is-invalid{
    border-color: rgb(242, 116, 116);
    border-top-color: rgb(242, 116, 116);
    border-right-color: rgb(242, 116, 116);
    border-bottom-color: rgb(242, 116, 116);
    border-left-color: rgb(242, 116, 116);
    background-image: none;
    padding-right: .75rem;
}

.form-control.is-invalid:focus{
    border-color: rgb(242, 116, 116);
    border-top-color: rgb(242, 116, 116);
    border-right-color: rgb(242, 116, 116);
    border-bottom-color: rgb(242, 116, 116);
    border-left-color: rgb(242, 116, 116);
    background-image: none;
    padding-right: .75rem;
}