/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-04-2019, 14:50:58
    Author     : Camilla
*/

.text-error-color{
    color: rgb(219, 102, 100);
}

.text-error-size{
    font-size: 13px;
}